/.vscode/*.json                             linguist-language=JSON5

/.yarn/**                                   linguist-vendored

/.pnp.*                                     binary linguist-vendored